.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .price-field {
    flex: 0 0 75%;  /* Price field takes 75% width */
    margin-right: 10px;
  }
  
  .currency-field {
    flex: 0 0 20%;  /* Currency field takes 20% width */
  }
  
  
  .course-card{
    padding: 20px;
  }
  
  
  
  